{% load staticfiles i18n compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}test_django{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/app.scss' %}">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endcompress %}

    {% endblock %}

  </head>

  <body>

    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="menu">
      <div class="top-bar-left hide-for-small-only">
        <ul class="dropdown menu">
          <li class="menu-text">test_django</li>
        </ul>
      </div>

      <div class="top-bar-right">
        <ul class="vertical medium-horizontal menu">
          <li> <a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          {% if request.user.is_authenticated %}
            <li>
              {# URL provided by django-allauth/account/urls.py #}
              <a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
            </li>
            <li>
              {# URL provided by django-allauth/account/urls.py #}
              <a href="{% url 'account_logout' %}">{% trans "Sign out" %}</a>
            </li>
            {% else %}
            <li>
              {# URL provided by django-allauth/account/urls.py #}
              <a id="sign-up-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
            </li>
            <li>
              {# URL provided by django-allauth/account/urls.py #}
              <a id="log-in-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
            </li>
            {% endif %}
        </ul>
      </div>

    </div>

    <div class="row">

      <div class="medium-6 medium-offset-3 columns">
        {% if messages %}
          {% for message in messages %}

            <div class="callout {% if message.tags %}{{ message.tags }}{% endif %}" data-closable>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}</div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    {% block content %}
      <div class="row">
        <div class="medium-12 columns">
          <p>Use this document as a way to quick start any new project.</p>
        </div>
      </div>
    {% endblock content %}

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Required by Foundation 6.2.3 -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="{% static 'libs/what-input/what-input.min.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>

      <!-- place project specific Javascript in this file -->
      {% compress js %}
      <script src="{% static 'js/project.js' %}"></script>
      {% endcompress %}

      <!-- Your stuff: Third-party javascript libraries go here -->

      <script>
        $(document).foundation();
      </script>
    {% endblock javascript %}
  </body>
</html>
